body {
    font-family: sans-serif;
}

.tags-container {
    width: 100%;
    justify-content: left;
    border: solid 1px whitesmoke;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    padding: 2px;
}

span.tag {
    font-size: 80%;
    display: inline-block;
    border: solid 1px navy;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 4px;
    margin-bottom: 8px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-bottomleft: 16px;
    border-top-left-radius: 16px;
    background-color: lightgray;
    border: none;
    line-height: 16px;
    border: solid 1px dimgray;
    /* Cause background to fade when changed. */
    transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -webkit-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
}

a.tag-x, a.tag-x-readonly {
    visibility: hidden;
    margin-left: 4px;
    color: rgb(58, 56, 56);
}

span.tag:hover>.tag-x {
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
    visibility: visible;
}

.dupe-flash {
    background-color: yellow !important;
}

.tag-input {
    border: none;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: whitesmoke;
    margin-left: 4px;
    height: 22px;
    order: 500;
    text-transform: lowercase;
}

@media only screen and (max-width: 320px) {
    a.tag-x {
        visibility: visible;
    }
}